BasedOnStyle: LLVM
Language: Cpp
Standard: c++17
IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Never
LineEnding: LF
ColumnLimit: 100
NamespaceIndentation: None
AccessModifierOffset: -4
BreakBeforeBraces: Attach
BreakTemplateDeclarations: Yes
InsertBraces: true
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: None
AllowShortLoopsOnASingleLine: false
SpaceBeforeParens: ControlStatements
DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Left
IncludeBlocks: Regroup
IncludeIsMainRegex: '(_test)?$'
IncludeCategories:
  - Regex: '^<'
    Priority: 1
  - Regex: '.*'
    Priority: 2
SeparateDefinitionBlocks: Always
MaxEmptyLinesToKeep: 1
SpacesBeforeTrailingComments: 2
